[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
PyYAML = "*"
django-rest-swagger = "*"

[dev-packages]

[requires]
python_version = "3.8"
